
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  SETTINGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$parts-sizes: ( 
        (243px, 307px), 
        (233px, 263px),
        (153px, 145px),
        (337px, 300px),
        (173px, 185px)
      );

$parts-pos: (
        (1550px, 91px),
        (445px, 98px),
        (92px, 357px),
        (423px, 557px),
        (1420px, 590px)
      );

$parts-loop-time: 1; // without s
$stone-loop-time: $parts-loop-time;
$parts-move-time: 2s; // with s

$scene-width: 1920px;
$scene-height: 1080px;

$stone-width: 718px;
$stone-height: 1019px;
$stone-left: 602px;
$stone-top: 42px;

$zoom-ratio: 0.585;

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PARTS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@mixin part($name, $width, $height, $left, $top) {
  width: $width;
  height: $height;
  display: inline-block;

  position: absolute;
  left: $left;
  top: $top;

  background: url(../img/parts/Part#{$name}_State1.png);
  background-size: contain;
  background-repeat: no-repeat;

  //transition: all $parts-move-time ease;
  transition-property: left, top;
  transition-duration: $parts-move-time;
  transition-timing-function: ease;
}

@for $i from 1 through 5 {
  #part-#{$i} {
    $size: nth($parts-sizes, $i);
    $width: nth($size, 1);
    $height: nth($size, 2);

    $pos: nth($parts-pos, $i);
    $x: nth($pos, 1);
    $y: nth($pos, 2);

    @include part($i, $width, $height, $x, $y);

    -webkit-animation: part-#{$i}-keyframes #{$parts-loop-time}s linear infinite;
    -webkit-animation-play-state: paused;
    //-webkit-animation-delay: #{$i*$parts-loop-time/10}s;
  }

  .animate #part-#{$i} {
    -webkit-animation-play-state: running;
    //animation-iteration-count: infinite;
  }

  .remove-animation #part-#{$i} {
    -webkit-animation: none;
  }

  $state1-url: "../img/parts/Part#{$i}_State1.png";
  $state2-url: "../img/parts/Part#{$i}_State2.png";
  $state3-url: "../img/parts/Part#{$i}_State3.png";
  $state4-url: "../img/parts/Part#{$i}_State4.png";

  @-webkit-keyframes part-#{$i}-keyframes {
    0%        { background-image: url($state1-url); }
    25%       { background-image: url($state1-url); }
    25.01%    { background-image: url($state2-url); }
    50%       { background-image: url($state2-url); }
    50.01%    { background-image: url($state3-url); }
    75%       { background-image: url($state3-url); }
    75.01%    { background-image: url($state4-url); }
    100%      { background-image: url($state4-url); }
  }  
}

#stone {
  width: $stone-width;
  height: $stone-height;
  display: inline-block;

  position: absolute;
  left: $stone-left;
  top: $stone-top;

  background: url(../img/stone/Stone1_big.png);
  background-size: contain;
  background-repeat: no-repeat;

  -webkit-animation: stone-keyframes #{$stone-loop-time}s linear infinite;

  &.zoom-out {
    width: $stone-width * $zoom-ratio;
    height: $stone-height * $zoom-ratio;    
  }
}

$stone-state1-url: "../img/stone/Stone1_big.png";
$stone-state2-url: "../img/stone/Stone2_big.png";
$stone-state3-url: "../img/stone/Stone3_big.png";
$stone-state4-url: "../img/stone/Stone4_big.png";

@-webkit-keyframes stone-keyframes {
  0%        { background-image: url($stone-state1-url); }
  25%       { background-image: url($stone-state1-url); }
  25.01%    { background-image: url($stone-state2-url); }
  50%       { background-image: url($stone-state2-url); }
  50.01%    { background-image: url($stone-state3-url); }
  75%       { background-image: url($stone-state3-url); }
  75.01%    { background-image: url($stone-state4-url); }
  100%      { background-image: url($stone-state4-url); }
}  


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html, body { height:100%; background-color: #ffffff;}
body { margin:0; padding:0; overflow:hidden; }

#window {
  width: $scene-width;
  height: $scene-height;
  overflow: hidden;
  position: relative;
}

nav {
  position: absolute; 
  top: 0; left: 0;
  z-index: 100;
}

#scroller {
  width: $scene-width * 3;
  height: $scene-height * 3;
  overflow: hidden;
  position: absolute;
  transition: all 2s ease;
}

.show-scene-0 {
  #scroller {
    left: -$scene-width;
    top: -$scene-height;
  }
}

.show-scene-1 {
  #scroller {
    left: -$scene-width;
    top: 0;
  }
}

.show-scene-2 {
  #scroller {
    left: 0;
    top: -$scene-height;
  }
}

.show-scene-3 {
  #scroller {
    left: -$scene-width * 2;
    top: -$scene-height;
  }
}

.show-scene-4 {
  #scroller {
    left: 0;
    top: -$scene-height * 2;
  }
}

.show-scene-5 {
  #scroller {
    left: -$scene-width * 2;
    top: -$scene-height * 2;
  }
}

.scene { 
  width: $scene-width;
  height: $scene-height;
  position: relative;
  float: left;
}

#something {
  position: absolute; top: 200px; left: 200px;
  background: blue; width: 200px; height: 200px;
  z-index: 1;
}

#flash {
  z-index: 2;
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  xdisplay: none;
}


#scene-a {
  display: none;
}
#scene-b {
  display: none;
}

#scene-0 {

  &::before {
    position: absolute;
    left: 0;
    top: 746px;
    content: ' ';
    width: 1550px; height: 405px;
    background: url(../img/scene0_bg.png) no-repeat;
    z-index: 0;
  }
}

