/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  SETTINGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PARTS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#part-1 {
  z-index: 5;
  visibility: hidden;
  width: 243px;
  height: 307px;
  display: inline-block;
  position: absolute;
  left: 1550px;
  top: 91px;
  background: url(../img/parts/Part1_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease; }

.zoom #part-1 {
  left: 924px;
  top: 0px; }

.animate #part-1 {
  background-image: url(../img/parts/Part1.gif); }

.remove-animation #part-1 {
  background-image: url(../img/parts/Part1_State1.png); }

@-webkit-keyframes part-1-keyframes {
  0% {
    background-image: url("../img/parts/Part1_State1.png"); }

  25% {
    background-image: url("../img/parts/Part1_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part1_State2.png"); }

  50% {
    background-image: url("../img/parts/Part1_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part1_State3.png"); }

  75% {
    background-image: url("../img/parts/Part1_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part1_State4.png"); }

  100% {
    background-image: url("../img/parts/Part1_State4.png"); } }
#part-2 {
  z-index: 5;
  visibility: hidden;
  width: 233px;
  height: 263px;
  display: inline-block;
  position: absolute;
  left: 445px;
  top: 98px;
  background: url(../img/parts/Part2_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease; }

.zoom #part-2 {
  left: 783px;
  top: 84px; }

.animate #part-2 {
  background-image: url(../img/parts/Part2.gif); }

.remove-animation #part-2 {
  background-image: url(../img/parts/Part2_State1.png); }

@-webkit-keyframes part-2-keyframes {
  0% {
    background-image: url("../img/parts/Part2_State1.png"); }

  25% {
    background-image: url("../img/parts/Part2_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part2_State2.png"); }

  50% {
    background-image: url("../img/parts/Part2_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part2_State3.png"); }

  75% {
    background-image: url("../img/parts/Part2_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part2_State4.png"); }

  100% {
    background-image: url("../img/parts/Part2_State4.png"); } }
#part-3 {
  z-index: 5;
  visibility: hidden;
  width: 153px;
  height: 145px;
  display: inline-block;
  position: absolute;
  left: 92px;
  top: 357px;
  background: url(../img/parts/Part3_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease; }

.zoom #part-3 {
  left: 793px;
  top: 257px; }

.animate #part-3 {
  background-image: url(../img/parts/Part3.gif); }

.remove-animation #part-3 {
  background-image: url(../img/parts/Part3_State1.png); }

@-webkit-keyframes part-3-keyframes {
  0% {
    background-image: url("../img/parts/Part3_State1.png"); }

  25% {
    background-image: url("../img/parts/Part3_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part3_State2.png"); }

  50% {
    background-image: url("../img/parts/Part3_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part3_State3.png"); }

  75% {
    background-image: url("../img/parts/Part3_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part3_State4.png"); }

  100% {
    background-image: url("../img/parts/Part3_State4.png"); } }
#part-4 {
  z-index: 5;
  visibility: hidden;
  width: 337px;
  height: 300px;
  display: inline-block;
  position: absolute;
  left: 423px;
  top: 557px;
  background: url(../img/parts/Part4_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease; }

.zoom #part-4 {
  left: 810px;
  top: 306px; }

.animate #part-4 {
  background-image: url(../img/parts/Part4.gif); }

.remove-animation #part-4 {
  background-image: url(../img/parts/Part4_State1.png); }

@-webkit-keyframes part-4-keyframes {
  0% {
    background-image: url("../img/parts/Part4_State1.png"); }

  25% {
    background-image: url("../img/parts/Part4_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part4_State2.png"); }

  50% {
    background-image: url("../img/parts/Part4_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part4_State3.png"); }

  75% {
    background-image: url("../img/parts/Part4_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part4_State4.png"); }

  100% {
    background-image: url("../img/parts/Part4_State4.png"); } }
#part-5 {
  z-index: 5;
  visibility: hidden;
  width: 173px;
  height: 185px;
  display: inline-block;
  position: absolute;
  left: 1420px;
  top: 590px;
  background: url(../img/parts/Part5_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease; }

.zoom #part-5 {
  left: 1003px;
  top: 237px; }

.animate #part-5 {
  background-image: url(../img/parts/Part5.gif); }

.remove-animation #part-5 {
  background-image: url(../img/parts/Part5_State1.png); }

@-webkit-keyframes part-5-keyframes {
  0% {
    background-image: url("../img/parts/Part5_State1.png"); }

  25% {
    background-image: url("../img/parts/Part5_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part5_State2.png"); }

  50% {
    background-image: url("../img/parts/Part5_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part5_State3.png"); }

  75% {
    background-image: url("../img/parts/Part5_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part5_State4.png"); }

  100% {
    background-image: url("../img/parts/Part5_State4.png"); } }
#stone {
  width: 718px;
  height: 1019px;
  display: inline-block;
  position: absolute;
  left: 760px;
  top: 0;
  z-index: 5;
  background: url(../img/stone/Stone1_big.png);
  background-size: contain;
  background-repeat: no-repeat; }
  #stone.zoom-out {
    width: 417px;
    height: 602px; }

.loading #stone {
  display: none; }
.loading #loading {
  display: block;
  margin-top: 600px; }
  .loading #loading::before {
    content: "Loading...";
    font-size: 26px;
    text-align: center;
    display: block; }

.animate #stone {
  background-image: url(../img/stone/Stone_Full_Small.gif); }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
html, body {
  height: 100%;
  background-color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

#window {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  margin: auto; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none; }

#scroller {
  width: 5760px;
  height: 3240px;
  overflow: hidden;
  position: absolute;
  transition: all 2s ease; }

.show-scene-0 #scroller {
  left: -1920px;
  top: -1080px; }

.show-scene-1 #scroller {
  left: 0;
  top: 0; }

.show-scene-2 #scroller {
  left: -1920px;
  top: 0; }

.show-scene-3 #scroller {
  left: -3840px;
  top: 0; }

.show-scene-4 #scroller {
  left: -3840px;
  top: -1080px; }

.show-scene-5 #scroller {
  left: -3840px;
  top: -2160px; }

.show-scene-6 #scroller {
  left: -1920px;
  top: -2160px; }

.show-scene-7 #scroller {
  left: 0;
  top: -2160px; }

.show-scene-8 #scroller {
  left: 0;
  top: -1080px; }

.scene {
  width: 1920px;
  height: 1080px;
  position: relative;
  float: left; }

.loaded #scene-0 #hot-spots {
  display: block; }

#scene-0 #logo {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0; }
#scene-0 #hot-spots {
  z-index: 6;
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  display: none; }
#scene-0 #indicators {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/indicator.png) no-repeat;
  opacity: 0;
  transition: opacity 0.6s ease; }
#scene-0 .wrapper {
  width: 100%;
  height: 100%;
  transition: all 2s ease;
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 5; }
  #scene-0 .wrapper.zoom {
    -webkit-transform: scale(1.45);
    top: 348px; }
  #scene-0 .wrapper::before {
    position: absolute;
    left: 0;
    top: 754px;
    content: ' ';
    width: 1550px;
    height: 405px;
    background: url(../img/scene0_bg.png) no-repeat;
    z-index: 4;
    pointer-events: none; }
  #scene-0 .wrapper #text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; }

#scene-1 {
  background: url(../img/scene1_bg.jpg) no-repeat; }
  #scene-1 .back {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 200px;
    height: 200px; }

#scene-2 {
  background: url(../img/scene2_bg.gif) no-repeat; }
  #scene-2 .goto-scene {
    position: absolute;
    z-index: 2;
    height: 100px;
    width: 70%;
    bottom: 0;
    left: 15%;
    top: auto; }

#scene-3 {
  background: url(../img/scene3_bg.gif) no-repeat; }
  #scene-3 .back {
    position: absolute;
    top: 870px;
    left: 50px;
    width: 200px;
    height: 200px; }

#scene-4 {
  background: url(../img/scene4_bg.gif) no-repeat; }
  #scene-4 .goto-scene {
    position: absolute;
    z-index: 2;
    height: 70%;
    width: 100px;
    top: 15%;
    left: 0; }

#scene-5 {
  background: url(../img/scene5_bg.gif) no-repeat; }
  #scene-5 .back {
    position: absolute;
    top: 0;
    left: 30px;
    width: 200px;
    height: 200px; }

#scene-6 {
  background: url(../img/scene6_bg.gif) no-repeat; }
  #scene-6 .back {
    position: absolute;
    top: 0;
    left: 850px;
    width: 200px;
    height: 200px; }

#scene-7 {
  background: url(../img/scene7_bg.gif) no-repeat; }
  #scene-7 .back {
    position: absolute;
    top: 0;
    right: 30px;
    width: 200px;
    height: 200px; }

#scene-8 {
  background: url(../img/scene8_bg.gif) no-repeat; }
  #scene-8 .goto-scene {
    position: absolute;
    z-index: 2;
    height: 70%;
    width: 100px;
    top: 15%;
    right: 0;
    left: auto; }

.goto-scene {
  position: absolute;
  z-index: 2; }
  .goto-scene:nth-child(1) {
    height: 756px;
    width: 100px;
    left: 0;
    top: 15%; }
  .goto-scene:nth-child(2) {
    height: 756px;
    width: 100px;
    right: 0;
    top: 15%; }
  .goto-scene:nth-child(3) {
    width: 70%;
    height: 100px;
    top: 0;
    left: 15%; }
