
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  SETTINGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
$parts-sizes: ( 
        (243px, 307px), 
        (233px, 263px),
        (153px, 145px),
        (337px, 300px),
        (173px, 185px)
      );

$parts-pos: (
        (1550px, 91px),
        (445px, 98px),
        (92px, 357px),
        (423px, 557px),
        (1420px, 590px)
      );

$oox: -680px;
$ooy: -30px;

$parts-original-pos: (
        (1550px + $oox, 91px + $ooy),
        (1409px + $oox, 175px + $ooy),
        (1419px + $oox, 348px + $ooy),
        (1436px + $oox, 397px + $ooy),
        (1629px + $oox, 328px + $ooy)
      );

$parts-loop-time: 1.2; // without s
$stone-loop-time: $parts-loop-time;
$parts-move-time: 2s; // with s

$scene-width: 1920px;
$scene-height: 1080px;

$stone-width: 718px;
$stone-height: 1019px;
$stone-left: 602px;
$stone-top: 42px;

$small-stone-width: 417px;
$small-stone-height: 602px;

//$zoom-ratio: 0.5807799442;

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PARTS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@mixin part($name, $width, $height, $left, $top) {
  width: $width;
  height: $height;
  display: inline-block;

  position: absolute;
  left: $left;
  top: $top;

  background: url(../img/parts/Part#{$name}_State1.png);
  background-size: contain;
  background-repeat: no-repeat;

  //transition: all $parts-move-time ease;
  transition-property: left, top;
  transition-duration: $parts-move-time;
  transition-timing-function: ease;
}

@for $i from 1 through 5 {
  #part-#{$i} {
    $size: nth($parts-sizes, $i);
    $width: nth($size, 1);
    $height: nth($size, 2);

    $pos: nth($parts-pos, $i);
    $x: nth($pos, 1);
    $y: nth($pos, 2);

    z-index: 2;

    visibility: hidden;

    @include part($i, $width, $height, $x, $y);

    -webkit-animation: part-#{$i}-keyframes #{$parts-loop-time}s linear infinite;
    -webkit-animation-play-state: paused;
    //-webkit-animation-delay: #{$i*$parts-loop-time/10}s;
  }

  .zoom #part-#{$i} {
    $pos: nth($parts-original-pos, $i);
    $x: nth($pos, 1);
    $y: nth($pos, 2);

    left: $x;
    top: $y;
  }

  .animate #part-#{$i} {
    -webkit-animation-play-state: running;
    //animation-iteration-count: infinite;
  }

  .remove-animation #part-#{$i} {
    -webkit-animation: none;
  }

  $state1-url: "../img/parts/Part#{$i}_State1.png";
  $state2-url: "../img/parts/Part#{$i}_State2.png";
  $state3-url: "../img/parts/Part#{$i}_State3.png";
  $state4-url: "../img/parts/Part#{$i}_State4.png";

  @-webkit-keyframes part-#{$i}-keyframes {
    0%        { background-image: url($state1-url); }
    25%       { background-image: url($state1-url); }
    25.01%    { background-image: url($state2-url); }
    50%       { background-image: url($state2-url); }
    50.01%    { background-image: url($state3-url); }
    75%       { background-image: url($state3-url); }
    75.01%    { background-image: url($state4-url); }
    100%      { background-image: url($state4-url); }
  }  
}

@mixin stone-keyframes($size) {
  -webkit-animation: stone-keyframes-#{$size} #{$stone-loop-time}s linear infinite;
}

@mixin stone-keyframes-def($size) {
  $stone-state1-url: "../img/stone/Stone1_#{$size}.png";
  $stone-state2-url: "../img/stone/Stone2_#{$size}.png";
  $stone-state3-url: "../img/stone/Stone3_#{$size}.png";
  $stone-state4-url: "../img/stone/Stone4_#{$size}.png";

  @-webkit-keyframes stone-keyframes-#{$size} {
    0%        { background-image: url($stone-state1-url); }
    25%       { background-image: url($stone-state1-url); }
    25.01%    { background-image: url($stone-state2-url); }
    50%       { background-image: url($stone-state2-url); }
    50.01%    { background-image: url($stone-state3-url); }
    75%       { background-image: url($stone-state3-url); }
    75.01%    { background-image: url($stone-state4-url); }
    100%      { background-image: url($stone-state4-url); }
  }  
}

@include stone-keyframes-def(small);
@include stone-keyframes-def(big);

#stone {
  width: $stone-width;
  height: $stone-height;
  display: inline-block;

  position: absolute;
  left: $stone-left;
  top: $stone-top;

  z-index: 2;

  background: url(../img/stone/Stone1_big.png);
  background-size: contain;
  background-repeat: no-repeat;

  &.zoom-out {
    //background-image: url(../img/stone/Stone1_small.png);

    // width: $stone-width * $zoom-ratio;
    // height: $stone-height * $zoom-ratio; 
    width: $small-stone-width;
    height: $small-stone-height;

    //@include stone-keyframes(small);   
  }
}

.animate #stone {
  @include stone-keyframes(big);  
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html, body { height:100%; background-color: #ffffff;}
body { margin:0; padding:0; overflow:hidden; }

#window {
  width: $scene-width;
  height: $scene-height;
  overflow: hidden;
  position: relative;
  margin: auto;
}

nav {
  position: absolute; 
  top: 0; left: 0;
  z-index: 100;
  display: none;
}

#scroller {
  width: $scene-width * 3;
  height: $scene-height * 3;
  overflow: hidden;
  position: absolute;
  transition: all 2s ease;
}

.show-scene-0 {
  #scroller {
    left: -$scene-width;
    top: -$scene-height;
  }

  #logo {
    z-index: 200;
    position: absolute;
    //top: 21px; left: 260px;
    top: 0; left: 0;
  }
}

.show-scene-1 {
  #scroller {
    left: 0;
    top: 0;
  }
}

.show-scene-2 {
  #scroller {
    left: -$scene-width;
    top: 0;
  }
}

.show-scene-3 {
  #scroller {
    left: -$scene-width * 2;
    top: 0;
  }
}

.show-scene-4 {
  #scroller {
    left: -$scene-width * 2;
    top: -$scene-height;
  }
}

.show-scene-5 {
  #scroller {
    left: -$scene-width * 2;
    top: -$scene-height * 2;
  }
}

.show-scene-6 {
  #scroller {
    left: -$scene-width;
    top: -$scene-height * 2;
  }
}

.show-scene-7 {
  #scroller {
    left: 0;
    top: -$scene-height * 2;
  }
}

.show-scene-8 {
  #scroller {
    left: 0;
    top: -$scene-height;
  }
}

.scene { 
  width: $scene-width;
  height: $scene-height;
  position: relative;
  float: left;

  &:not(#scene-0) {
    cursor: pointer;
  }
}

#scene-0 {

  .wrapper {
    width: 100%; height: 100%;
    transition: all 2s ease;
    position: relative;
    top: 0;
    overflow: hidden;

    &.zoom {
      -webkit-transform: scale(1.72);
      top: 348px;      
    }

    &::before {
      position: absolute;
      left: 0;
      top: 754px;
      content: ' ';
      width: 1550px; height: 405px;
      background: url(../img/scene0_bg.png) no-repeat;
      z-index: 2;
      pointer-events: none;
    }

    .part {
      //display: none;
    }

    #text {
      position: absolute;
      top: 0; left: 0;
      z-index: 1;
    }
  }
}

#scene-1 {

}

#scene-3 {
  background: url(../img/scene3_bg.gif) no-repeat;
}

#scene-5 {
  background: url(../img/scene5_bg.gif) no-repeat;
}

#scene-6 {
  background: url(../img/scene6_bg.gif) no-repeat;
}

#scene-7 {
  background: url(../img/scene7_bg.gif) no-repeat;
}
