/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  SETTINGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PARTS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#part-1 {
  z-index: 3;
  visibility: hidden;
  width: 243px;
  height: 307px;
  display: inline-block;
  position: absolute;
  left: 1550px;
  top: 91px;
  background: url(../img/parts/Part1_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-animation: part-1-keyframes 1.2s linear infinite;
  -webkit-animation-play-state: paused; }

.zoom #part-1 {
  left: 870px;
  top: 61px; }

.animate #part-1 {
  -webkit-animation-play-state: running; }

.remove-animation #part-1 {
  -webkit-animation: none; }

@-webkit-keyframes part-1-keyframes {
  0% {
    background-image: url("../img/parts/Part1_State1.png"); }

  25% {
    background-image: url("../img/parts/Part1_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part1_State2.png"); }

  50% {
    background-image: url("../img/parts/Part1_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part1_State3.png"); }

  75% {
    background-image: url("../img/parts/Part1_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part1_State4.png"); }

  100% {
    background-image: url("../img/parts/Part1_State4.png"); } }
#part-2 {
  z-index: 3;
  visibility: hidden;
  width: 233px;
  height: 263px;
  display: inline-block;
  position: absolute;
  left: 445px;
  top: 98px;
  background: url(../img/parts/Part2_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-animation: part-2-keyframes 1.2s linear infinite;
  -webkit-animation-play-state: paused; }

.zoom #part-2 {
  left: 729px;
  top: 145px; }

.animate #part-2 {
  -webkit-animation-play-state: running; }

.remove-animation #part-2 {
  -webkit-animation: none; }

@-webkit-keyframes part-2-keyframes {
  0% {
    background-image: url("../img/parts/Part2_State1.png"); }

  25% {
    background-image: url("../img/parts/Part2_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part2_State2.png"); }

  50% {
    background-image: url("../img/parts/Part2_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part2_State3.png"); }

  75% {
    background-image: url("../img/parts/Part2_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part2_State4.png"); }

  100% {
    background-image: url("../img/parts/Part2_State4.png"); } }
#part-3 {
  z-index: 3;
  visibility: hidden;
  width: 153px;
  height: 145px;
  display: inline-block;
  position: absolute;
  left: 92px;
  top: 357px;
  background: url(../img/parts/Part3_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-animation: part-3-keyframes 1.2s linear infinite;
  -webkit-animation-play-state: paused; }

.zoom #part-3 {
  left: 739px;
  top: 318px; }

.animate #part-3 {
  -webkit-animation-play-state: running; }

.remove-animation #part-3 {
  -webkit-animation: none; }

@-webkit-keyframes part-3-keyframes {
  0% {
    background-image: url("../img/parts/Part3_State1.png"); }

  25% {
    background-image: url("../img/parts/Part3_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part3_State2.png"); }

  50% {
    background-image: url("../img/parts/Part3_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part3_State3.png"); }

  75% {
    background-image: url("../img/parts/Part3_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part3_State4.png"); }

  100% {
    background-image: url("../img/parts/Part3_State4.png"); } }
#part-4 {
  z-index: 3;
  visibility: hidden;
  width: 337px;
  height: 300px;
  display: inline-block;
  position: absolute;
  left: 423px;
  top: 557px;
  background: url(../img/parts/Part4_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-animation: part-4-keyframes 1.2s linear infinite;
  -webkit-animation-play-state: paused; }

.zoom #part-4 {
  left: 756px;
  top: 367px; }

.animate #part-4 {
  -webkit-animation-play-state: running; }

.remove-animation #part-4 {
  -webkit-animation: none; }

@-webkit-keyframes part-4-keyframes {
  0% {
    background-image: url("../img/parts/Part4_State1.png"); }

  25% {
    background-image: url("../img/parts/Part4_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part4_State2.png"); }

  50% {
    background-image: url("../img/parts/Part4_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part4_State3.png"); }

  75% {
    background-image: url("../img/parts/Part4_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part4_State4.png"); }

  100% {
    background-image: url("../img/parts/Part4_State4.png"); } }
#part-5 {
  z-index: 3;
  visibility: hidden;
  width: 173px;
  height: 185px;
  display: inline-block;
  position: absolute;
  left: 1420px;
  top: 590px;
  background: url(../img/parts/Part5_State1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition-property: left, top;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-animation: part-5-keyframes 1.2s linear infinite;
  -webkit-animation-play-state: paused; }

.zoom #part-5 {
  left: 949px;
  top: 298px; }

.animate #part-5 {
  -webkit-animation-play-state: running; }

.remove-animation #part-5 {
  -webkit-animation: none; }

@-webkit-keyframes part-5-keyframes {
  0% {
    background-image: url("../img/parts/Part5_State1.png"); }

  25% {
    background-image: url("../img/parts/Part5_State1.png"); }

  25.01% {
    background-image: url("../img/parts/Part5_State2.png"); }

  50% {
    background-image: url("../img/parts/Part5_State2.png"); }

  50.01% {
    background-image: url("../img/parts/Part5_State3.png"); }

  75% {
    background-image: url("../img/parts/Part5_State3.png"); }

  75.01% {
    background-image: url("../img/parts/Part5_State4.png"); }

  100% {
    background-image: url("../img/parts/Part5_State4.png"); } }
@-webkit-keyframes stone-keyframes-small {
  0% {
    background-image: url("../img/stone/Stone1_small.png"); }

  25% {
    background-image: url("../img/stone/Stone1_small.png"); }

  25.01% {
    background-image: url("../img/stone/Stone2_small.png"); }

  50% {
    background-image: url("../img/stone/Stone2_small.png"); }

  50.01% {
    background-image: url("../img/stone/Stone3_small.png"); }

  75% {
    background-image: url("../img/stone/Stone3_small.png"); }

  75.01% {
    background-image: url("../img/stone/Stone4_small.png"); }

  100% {
    background-image: url("../img/stone/Stone4_small.png"); } }
@-webkit-keyframes stone-keyframes-big {
  0% {
    background-image: url("../img/stone/Stone1_big.png"); }

  25% {
    background-image: url("../img/stone/Stone1_big.png"); }

  25.01% {
    background-image: url("../img/stone/Stone2_big.png"); }

  50% {
    background-image: url("../img/stone/Stone2_big.png"); }

  50.01% {
    background-image: url("../img/stone/Stone3_big.png"); }

  75% {
    background-image: url("../img/stone/Stone3_big.png"); }

  75.01% {
    background-image: url("../img/stone/Stone4_big.png"); }

  100% {
    background-image: url("../img/stone/Stone4_big.png"); } }
#stone {
  width: 718px;
  height: 1019px;
  display: inline-block;
  position: absolute;
  left: 702px;
  top: 82px;
  z-index: 2;
  background: url(../img/stone/Stone1_big.png);
  background-size: contain;
  background-repeat: no-repeat; }
  #stone.zoom-out {
    width: 417px;
    height: 602px; }

.animate #stone {
  -webkit-animation: stone-keyframes-big 1.2s linear infinite; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
  PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
html, body {
  height: 100%;
  background-color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

#window {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  margin: auto; }

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none; }

#scroller {
  width: 5760px;
  height: 3240px;
  overflow: hidden;
  position: absolute;
  transition: all 2s ease; }

.show-scene-0 #scroller {
  left: -1920px;
  top: -1080px; }
.show-scene-0 #logo {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0; }

.show-scene-1 #scroller {
  left: 0;
  top: 0; }

.show-scene-2 #scroller {
  left: -1920px;
  top: 0; }

.show-scene-3 #scroller {
  left: -3840px;
  top: 0; }

.show-scene-4 #scroller {
  left: -3840px;
  top: -1080px; }

.show-scene-5 #scroller {
  left: -3840px;
  top: -2160px; }

.show-scene-6 #scroller {
  left: -1920px;
  top: -2160px; }

.show-scene-7 #scroller {
  left: 0;
  top: -2160px; }

.show-scene-8 #scroller {
  left: 0;
  top: -1080px; }

.scene {
  width: 1920px;
  height: 1080px;
  position: relative;
  float: left; }
  .scene:not(#scene-0) {
    cursor: pointer; }

#scene-0 .wrapper {
  width: 100%;
  height: 100%;
  transition: all 2s ease;
  position: relative;
  top: 0;
  overflow: hidden; }
  #scene-0 .wrapper.zoom {
    -webkit-transform: scale(1.72);
    top: 348px; }
  #scene-0 .wrapper::before {
    position: absolute;
    left: 0;
    top: 754px;
    content: ' ';
    width: 1550px;
    height: 405px;
    background: url(../img/scene0_bg.png) no-repeat;
    z-index: 2;
    pointer-events: none; }
  #scene-0 .wrapper #text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

#scene-1 {
  background: url(../img/scene1_bg.png) no-repeat; }

#scene-2 {
  background: url(../img/scene2_bg.gif) no-repeat; }

#scene-3 {
  background: url(../img/scene3_bg.gif) no-repeat; }

#scene-4 {
  background: url(../img/scene4_bg.gif) no-repeat; }

#scene-5 {
  background: url(../img/scene5_bg.gif) no-repeat; }

#scene-6 {
  background: url(../img/scene6_bg.gif) no-repeat; }

#scene-7 {
  background: url(../img/scene7_bg.gif) no-repeat; }

#scene-8 {
  background: url(../img/scene8_bg.gif) no-repeat; }

.goto-scene {
  position: absolute;
  z-index: 2; }
  .goto-scene:nth-child(1) {
    height: 70%;
    width: 100px;
    left: 0;
    top: 15%; }
  .goto-scene:nth-child(2) {
    height: 70%;
    width: 100px;
    right: 0;
    top: 15%; }
  .goto-scene:nth-child(3) {
    width: 70%;
    height: 100px;
    top: 0;
    left: 15%; }
